body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}

h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}

.img-circle {
    border-radius: 50%;
    height: 250px;
}

.navbar {
    margin-bottom: 0;
    background-color: #fff;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a,
.navbar .navbar-brand {
    color: black !important;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
    color: #fff !important;
    background-color: black !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: black !important;
}

.jumbotron {
    background-color: #f6f6f6;
    color: black;
    padding: 100px 25px;
}

.bg-grey {
    background-color: #f6f6f6;
}

.container-fluid {
    padding: 60px 50px;
}

.logo {
    font-size: 200px;
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}

.logo-small {
    color: #00bfff;
    font-size: 50px;
}

.logo {
    color: #00bfff;
    font-size: 200px;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

#googleMap {
    height: 400px;
}

.panel {
    border: 1px solid deepskyblue;
    border-radius: 0;
    transition: box-shadow 0.5s;
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0, 0, 0, .2);
}

.panel-footer .btn:hover {
    border: 1px solid deepskyblue;
    background-color: #fff !important;
    color: deepskyblue;
}

.panel-heading {
    color: #fff !important;
    background-color: deepskyblue !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.panel-footer {
    background-color: #fff !important;
}

.panel-footer h3 {
    font-size: 32px;
}

.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}

.panel-footer .btn {
    margin: 15px 0;
    background-color: deepskyblue;
    color: #fff;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: deepskyblue;
}