body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: lightblue;
}

h2 {
    color: darkblue;
    font-style: bold;
}

#game {
    text-align: center;
}

#gameArea {
    cursor: url("images/pokeball.png"), auto;
}

#intro {
    color: red;
}